################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/jrs/obj
/jrs/bin/Debug/netcoreapp3.1
/jrsdb/obj/Debug
/.vs/jrs
/jrs/.vs/jrs/v16/Server/sqlite3
/jrsdb/bin/Debug
/.vs
/jrsdb/jrsdb.dbmdl
/jrs/ClientApp/src/axiosapi/.openapi-generator
/jrs/ClientApp/src/axiosapi/git_push.sh
/jrs/ClientApp/src/axiosapi/index.js.map
/jrs/ClientApp/src/axiosapi/index.js
/jrs/ClientApp/src/axiosapi/configuration.js.map
/jrs/ClientApp/src/axiosapi/configuration.js
/jrs/ClientApp/src/axiosapi/base.js.map
/jrs/ClientApp/src/axiosapi/base.js
/jrs/ClientApp/src/axiosapi/api.js.map
/jrs/ClientApp/src/axiosapi/api.js
/jrs/ClientApp/build
/jrs/jrs.csproj.user
/jrsdb/jrsdb.jfm
jrsdb/jrsdb.jfm

/jrs/bin

*.jfm
/package-lock.json
.DS_Store
