:root {
  --color-dark: #2d354c;

}


.theStepContainer h2,
.theStepContainer h4 {
  color: var(--color-dark);
  text-align: center;
}
.theStepContainer {
  .inputs-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 5vw;
  }
}
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  
  .stepBtn{
    margin-right: 10px;
  }
}
@media (max-width: 900px) {
  .theStepContainer {
    width: 100%;
    padding: 0px 20px;
  }
  .theStepContainer h2,
  .theStepContainer h4 {
    text-align: center;
  }
  .inputs-container {
    flex-direction: column;
    justify-content: center;

  }
  .inputs-container .oneInputContainer {
    width: 100% !important;
    margin-right: 0px !important;
    margin-bottom: 10px !important;
  }
}
