.inputs-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 5vw;
}
.staticTextInput {
  color: #1c3953;
}
.oneInputContainer.radio {
  margin: 20px 15px;
  margin-right: calc(10% - 20px) !important;
}
@media (max-width: 900px) {
  .inputs-container {
    flex-direction: column;
    justify-content: center;
  }
  .inputs-container .oneInputContainer {
    width: 100% !important;
    margin-right: 0px !important;
    margin-bottom: 10px !important;
  }
}
